<h2><%= contract.piid %></h2>
<%= render :partial => 'contracts/attributes/dl', :locals => { :attributes => contract.attributes.except('created_at', 'updated_at', 'id', 'footprint').to_a, :emission => contract.emission } %>
