<h1>Federal contracts</h1>
  <p class="intro">Showing the <%= @contracts.count %> most recently awarded federal contracts from the <%= link_to 'FPDS', 'https://www.fpds.gov' %>.<br /> Last updated <%= @last_updated %>.</p>
<%= render :partial => 'ol', :locals => { :contracts => @contracts } %>
