<h1>Contracts</h1>
<p>Showing the 10 most recently awarded federal contracts from the <%= link_to 'FPDS', 'https://www.fpds.gov' %>.</p>
<%= render :partial => 'ol', :locals => { :contracts => @contracts } %>
