/*------------*/

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro.eot');
  src: local('☺'), url("fonts/KievitWebPro.woff") format("woff"), url("fonts/KievitOT-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro-Bold.eot');
  src: local('☺'), url("fonts/KievitWebPro-Bold.woff") format("woff"), url("fonts/KievitOT-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro-BoldIta.eot');
  src: local('☺'), url("fonts/KievitWebPro-BoldIta.woff") format("woff"), url("fonts/KievitOT-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro-Ita.eot');
  src: local('☺'), url("fonts/KievitWebPro-Ita.woff") format("woff"), url("fonts/KievitOT-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Mono';
  src: url('fonts/DejaVuSansMono.eot');
  src: local('☺'), url("fonts/DejaVuSansMono.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Mono';
  src: url('fonts/DejaVuSansMono-Oblique.eot');
  src: local('☺'), url("fonts/DejaVuSansMono-Oblique.ttf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* ---------- */

body {
  background: #eee url(images/bg.png) repeat-y;
  margin: 0;
}

body, input, select, button {
  font-family: "Brighter Planet", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

pre, kbd {
  font-family: "DejaVu Mono", monospace;
}

sub {
  vertical-align: baseline;
  font-size: smaller;
  position: relative;
  bottom: -5px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
}

#header h1 {
  background: url(images/logo.png) no-repeat 15px 15px;
  text-indent: -9999px;
  height: 120px;
  width: 465px;
}

#header p {
  margin: 10px 0 0 20px;
  width: 210px;
  color: #eee;
  text-shadow: 1px 1px 0 black;
  font-size: 13px;
}

#header p a {
  color: white;
}

#main {
  margin-left: 240px;
  overflow: auto;
}

#content {
  float: left;
  width: 430px;
  padding: 130px 0 0;
}

#content h1 {
  margin: 0 15px;
  text-transform: uppercase;
  font-size: 16px;
}

#content p.intro {
  font-style: italic;
  margin: 0 15px 15px;
  font-size: 13px;
}

#content ol.contracts {
  border-top: 1px solid #eee;
}

#content ol.contracts li {
  border-bottom: 1px solid #eee;
  padding: 10px 15px;
}

#content ol.contracts li h2 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 5px;
  color: gray;
}

#content ol.contracts li p.summary {
  font-size: 24px;
  font-weight: bold;
  color: gray;
}

#content ol.contracts li p.summary .price, #content ol.contracts li p.summary .footprint {
  color: #00A950;
}

#content ol.contracts li p.summary .product_or_service {
  color: black;
}

#content ol.contracts li dl {
  overflow: auto;
  margin: 5px 0 0;
  padding: 0 1px 5px 0;
}

#content ol.contracts li dt {
  float: left;
  width: 140px;
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-size: 12px;
}

#content ol.contracts li dd {
  margin: 0 0 10px 150px;
}

#content ol.contracts li dd:last-child {
  margin-bottom: 0;
}

#content ol.contracts li p.methodology a {
  display: block;
  width: 130px;
  margin: 10px 0 0 260px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px;
  color: white;
  text-shadow: -1px -1px 0 black;
  text-decoration: none;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(77,77,77)),
      color-stop(1, rgb(48,48,48))
    );
  background-image:
    -moz-linear-gradient(
      center top,
      rgb(77,77,77) 0%,
      rgb(48,48,48) 100%
    );
}

#content ol.contracts li p.methodology a:hover {
  outline: 3px solid #eee;
  -moz-outline-radius: 5px;
  -webkit-outline-radius: 5px;
  outline-radius: 5px;
}

#footer {
  float: left;
  width: 300px;
}

#logo {
  position: fixed;
  left: 20px;
  bottom: 20px;
}
